<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <!-- write logs to file -->
    <target name="travisLogfile" xsi:type="File"  fileName="D:\TravisLogs\nlog-all-${shortdate}.log"
                 layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|${message} ${exception}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="travisLogfile" />
  </rules>
</nlog>